* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: rgb(200, 196, 196);
}

p {
    margin-right: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1200px;
    width: 800px;
    border: 1px solid rgb(14, 156, 222);
    border-radius: 10px;
    padding: 20px;
}

.title {
    text-align: center;
}

.footer {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.input-title {
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    width: 95%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textarea-content {
    resize: none;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    width: 95%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textarea-comment {
    resize: none;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    width: 95%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-upload {
    width: 150px;
    height: 30px;
    margin-bottom: 180px;
    background: #fff;
    border: 1px solid rgb(14, 156, 222);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgb(77, 77, 77);
        color: #fff;
    }
}

#file {
    display: none;
}

.link {
    text-decoration: none;
    color: black;

    &:hover {
        color: rgb(14, 156, 222);
    }
}

.comment {
    height: 250px;
    overflow-y: scroll;
}

.comment::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.comment::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.comment::-webkit-scrollbar-thumb {
    background-color: #0ae;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.5, transparent), to(transparent));
}

.comments {
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    width: 95%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-top {
    margin-bottom: 10px;
}

.comment-body {
    height: fit-content;
}

.commenter {
    padding: 10px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.dot {
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.date {
    padding-right: 10px;
}

.comment-btn {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #fff;

    &:hover {
        color: rgb(14, 156, 222);
    }
}

#modal {
    background: rgba(255, 255, 255, 0.25);
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: rgba(69, 139, 197, 0.70);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* backdrop-filter: blur(13.5px); */
    /* -webkit-backdrop-filter: blur(13.5px); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
}

#modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .title h2 {
    display: inline;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}