* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 340px;
    border-radius: 10px;
    padding: 20px;
    background-color: #eee;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(14, 156, 222);
    outline: none;
    background-color: #eee;
    font-size: 18px;
}

p {
    text-align: center;
    font-size: 15px;
}

.signin-title {
    margin-bottom: 50px;
}

.account_btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout_btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.link-box {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;

    &:hover {
        color: rgb(14, 156, 222);
    }
}

.search_btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}